<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<head>

    <link rel="stylesheet" type="text/css" href="./css/index.css" />
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/index.js"></script>

    <script src="js/fastclick.min.js"></script>
    <script>
        var attachFastClick = Origami.fastclick;
        attachFastClick(document.body);
    </script>
    <title>TakeOutHotline</title>
</head>

<body ng-controller="MainCtrl as main_cotroller">
    <div ng-controller="SearchPostalCodeController as search_post_code">

        <div class="app">

            <div data-role="page" id="search-page">
                <div id="header" data-role="header" data-theme="a">
                </div>
                <div data-role="content" id='banner-con'>

                    <div class="row banner-header">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        </div>
                    </div>
                </div>


                <div role="main" class="ui-content" id='products'>
                    <div class="outerloading">
                        <div class="innerloading">

                            <div id="app-loader-gif" ng-if="isLoading" class="loading">
                                <img src="img/loading.gif" style="width: 200px; ">
                                <div>
                                    <div class="list-group" >
                                        <iframe id="app-data-source" src="http://chutneys.takeouttechnology.com" style="width:100%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        // tell the embed parent frame the height of the content
                        if (window.parent && window.parent.parent) {
                            window.parent.parent.postMessage(["resultsFrame", {
                                height: document.body.getBoundingClientRect().height,
                                slug: "ypjrsat0"
                            }], "*")
                        }
                    </script>
</body>

</html>